@charset "UTF-8";

main {
    columns: 2;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-size: 1.5em;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

div#conteudo {
    max-width: 300px;
}
section#video {
}
section#um {
    overflow-x: auto;
    height: 71vh;
    margin: 20px;
}

div#med {
    margin: auto;
}