@charset "UTF-8";

:root {
    --header: rgb(13, 13, 23);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-flow: column;

    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--header);
    padding: 5px;

    height: 105px;
    
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
}

header > h1 {
    color: white;
    text-align: center;
    /*border: 1px dashed white;*/
}

header > nav {
    display: flex;
    justify-content: flex-end;
}

#menu {
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    margin-right: 10px;

    display: none;

    flex-flow: column nowrap;
    justify-content: center;
}

div.line {
    background-color: black;
    width: 30px;
    height: 3px;
    margin: 3px;
    transition: transform .5s, width .25s, opacity .5s;
}

#options {
    background-color: var(--header);
    opacity: .9;
    
    position: absolute;
    /*transform: translate(75vw);*/
    top: 115px;
    right: -200px;

    border-radius: 0px 0px 0px 10px;
    transition: 1s;
}

#list {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    opacity: .9;
}

#list > li {
    letter-spacing: 2px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;

    text-align: center;
}

.nav-a {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;

    color: white;
    text-decoration: none;
}

.nav-a:hover {
    background-color: rgb(188, 191, 224);
    color: black;
    transition: .5s;
}

@media screen and (max-width: 500px) {
    #menu {
        display: flex;
    }
}