@charset "UTF-8";

:root {
    --header: rgb(13, 13, 23);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
}

header {
    background-color: var(--header);
    padding: 5px;

    width: 100vw;
    height: 105px;
    
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
}

header > h1 {
    color: white;
    text-align: center;
    /*border: 1px dashed white;*/
}

header > nav {
    display: flex;
    justify-content: flex-end;
}

header > nav > div#menu {
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

#menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

div.line {
    background-color: black;
    width: 30px;
    height: 3px;
    margin: 3px;
    transition: transform .5s, width .25s, opacity .5s;
}

#options {
    background-color: var(--header);
    opacity: .9;

    position: absolute;
    /*transform: translate(75vw);*/
    transform: translate(150vw);

    border-radius: 0px 0px 10px 10px;
    transition: transform 1s;
}

#list {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    opacity: .9;
}

#list > li {
    letter-spacing: 2px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;

    text-align: center;
}

#list > li > a {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;

    color: white;
    text-decoration: none;
}

#list > li > a:hover {
    background-color: rgb(188, 191, 224);
    color: black;
}